body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hide{
  visibility: hidden;
}

#info td {
  width: 250px;
}

svg g text {
  font-size:18px;
}