extends layoutDataRequest

block content
    include ./navbar.jade
    script(type = "text/javascript").
        var showGraph= !{showGraph};
        var values= !{values};
    script(src = '../../javascripts/GraphController.js')


    form.form-horizontal(action='/dataRequest', name='search', role='form', method='post', accept-charset='utf-8')
        .row
            div(class="container")
                .col-md-offset-2.col-md-8
                    .form-group
                        label Date
                        input.form-control(type='date', name='date')
            div(class="container")
                .row
                    .col-md-offset-2.col-md-3
                        .form-group
                            label  Heure de debut
                            input.form-control(type='time', name='beginHour')
                    .col-md-offset-2.col-md-3
                        .form-group
                            label Heure de fin
                            input.form-control(type='time', name='lastHour')
            div(class="container")
                .row
                    .col-sm-6.col-sm-offset-3
                        .form-group
                            input.btn.btn-secondary.btn-fat(type='submit', value='Rechercher', style='text-align:center')
    if showGraph
        div(id = 'curve_chart' style="width: 1500px; height: 500px")
        div(id = 'curve_chart2' style="width: 1500px; height: 500px")

    if error
        label la requete n'a pas été effectuée correctement

    if noValue
        label Aucune donnée trouvé
