extends layout

block content
    include ./navbar.jade
    div(id="chart_div" style="width: 1500px; height: 300px")
    table(id = "info")
        thead
            tr
                td
                    button(data-value="cpu" class="btn btn-primary") +INFO
                td
                    button(data-value="ram" class="btn btn-warning" ) +INFO
                td
                    button(data-value="swap" class="btn btn-info") +INFO
                td
                    button(data-value="disk" class="btn btn-danger") +INFO
                td
                    button(data-value="download" class="btn btn-success") +INFO
                td
                    button(data-value="upload" class="btn btn-primary") +INFO
        tbody
            tr(id = "trinfo")
                td(id = "cpu" class="hide")
                td(id = "ram" class="hide")
                td(id = "swap" class="hide")
                td(id= "disk" class="hide")
                td(id= "download" class="hide")
                td(id= "upload" class= "hide")


