.navbar-wrapper
    .container
        nav.navbar.navbar-inverse.navbar-static-top
            .container
                .navbar-header.marg-l.navbar-brand
                    label IOT
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Données en temps réel
                        li
                            a(href='/dataRequest') Recherche